body{
width: 1440px;
background-color: #edf2f8 ;
}
.section1{
    align-items: center;
    background-color: white;
    height: 280px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.02);
    z-index: 1;
    border-radius: 10px;
    display: flex;
    
}
.Image1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 280px;
    height: 280px;
}
.content{
    padding: 35px;
    align-content: initial;
}
.heading{
    font-family: "Manrope", sans-serif;
    color: #4E5765;
    font-weight: 700;
}
p{
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    color: #6D7F97;
    font-weight: 500;
}
.section2{
    margin-top: 15px;
    display: flex;
}
.Image2{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.Name{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    
}
.michelle_name{
    font-family: "Manrope", sans-serif;
    color: #4E5765;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Date{
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    color: #9EAFC2;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}
.share{
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #edf2f8;
    margin-left: 120px;
    position: relative;
    display: inline-block;
    display: flex;
}
.share_icon{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5.5px;
    height: 15px;
    width: 17px;
}
.share:hover{
    background-color: #6e8098;
    transition: all ease 0.2s;
}
.share:hover .share_icon{
    color: white;
    transition: all ease 0.2s;
    filter:  brightness(0) invert(1);

}
.share_list{
    background-color: #49556b;
    height: 50px;
    width: 200px;
    border-radius: 5.5px;
    display: none;
    position: absolute;
    bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-43%);
    transition: all ease 0.2s;
}
.share_list a {
    display: block;
  }
.share_list p{
    display:flex;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    margin-left: 10px;
    padding: 12px;
    font-family: "Manrope", sans-serif;
    color:#9ca9bb;
    text-transform: uppercase;
    font-weight: 700px;
    text-align: relative;
}
.share_list:before{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid #49556b;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
.share:hover .share_list{
    display:block;
}
.icon{
    padding-left: 10px;
    padding-right: 10px;
}